*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/profile

# C extension
*.o
*.bundle
mkmf.log
Makefile
tmp/
spec/spec.log

# Ragel
lib/stompede/stomp/ruby_parser.rb
lib/stompede/stomp/c_parser.rb
ext/stompede/c_parser.c
